{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "standard",
        "plugin:vue/essential"
    ],
    "plugins": [
        "vue",
        "html"
    ],
    "parserOptions": {
        "parser": "babel-eslint"
    },
    "rules": {
      "no-new":"off"
    }
}
